button {
    font-size:20px;
    margin: 10px 0px;
}

input {
    font-size:15px;
    padding:25px;
    margin:10px 0px;
    border:1px solid #777;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.box {
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
    border:1px solid black;
    background-color:#f3fc9a;    
}
